.banner {
    width: 100%;
    overflow: hidden;


    .scroller {
        width: 100%;
        overflow: hidden;
        padding-block: 1rem;
    }


    .rolling {
        display: flex;
        gap: 1rem;

        animation: rolling 4s linear infinite;

        & p {
            color: var(--text-color);
        }
    }

    .bg-gradient-animate {
        background: linear-gradient(
            170deg,
            var(--color-btn-avião) 0%,
            var(--color-black) 100%
            );
    }
}

@keyframes rolling {
    to {
        transform: translatex(-170px);
    }
}