.btn {
    border: 0;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: .5rem;
    color: var(--color-text);
}

.btn-lg{
    padding: .5rem .5rem;
    font-size: 1rem;
    border: solid 1px var(--color-btn-avião);

    background: linear-gradient(
        170deg,
        var(--color-btn-avião) 0%,
        var(--color-black) 100%
        );
}

.btn-xl {
    padding: .4rem;
    font-size: 1rem;
    font-weight: 700;
    color: black;
    background-color: var(--color-highlight);
}