/* Diretores Section */
section#diretores {
    padding: 3rem 1rem;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
    

    .flex {
        gap: 3rem;
    }

    div {
        text-align: center;
    }

    img {
        border-radius: 50%;
    }

    h1 {
        color: var(--color-highlight);
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    h2 {
        margin-top: 1rem;
        font-size: 1.5rem;
        color: var(--color-text);
    }

    span {
        display: block;
        margin-top: 0.5rem;
        color: var(--color-highlight);
    }
}