/* Diretores Section */
section#diretores {
    padding: 2rem .5rem;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
    

    .flex {
        gap: 3rem;
    }

    div {
        text-align: center;
    }

    img {
        border-radius: 50%;
    }

    h1 {
        color: var(--color-highlight);
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    h2 {
        margin-top: 1rem;
        font-size: 1rem;
        color: var(--color-text);
    }

    span {
        display: block;
        margin-top: 0.5rem;
        color: var(--color-highlight);
    }

    .flex-social a {
        display: flex;
        padding-bottom: .5rem;
    }

    .btn-social {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 50%;
        border: 0;
    }

    .btn-social img {
        height: 25px;
    }

    button {
        background-color: transparent;
        color: var(--color-text);
    }

    
}