header {
    & a:first-child {
        margin-right: auto;
    }

    & img {
        width: 3rem;
    }

    div img {
        max-width: 20rem;
        width: 100%;
        position: absolute;
        z-index: -1;
        width: 40rem;
        height: 40rem;
        top: -14rem;
        left: -10rem;

        filter: brightness();
        opacity: 0.2;
    }

    & img{
        width: 2rem;
        height: 2rem;
    }

    button {
        position: relative;
    }

    button span{
        position: absolute;
        top: -0.9rem;
        
        background-color: var(--color-logo);
        border-radius: 50%;
        border: 0;
        border-bottom: -5rem;
    }

}

