header {
    

    div img {
        max-width: 20rem;
        width: 100%;
        position: absolute;
        z-index: -1;
        width: 40rem;
        height: 40rem;
        top: -14rem;
        left: -10rem;

        filter: brightness();
        opacity: 0.2;
    }

    p {
        font-size: 1.5rem;
        font-family: "Merriweather", serif;  
        line-height: 1;
     }

    & img{
        width: 2rem;
        height: 2rem;

        /*transition: transform 500ms;*/
    }

    /*img[src*="logo"]:hover {
        transform: rotate(90deg);
    }*/

    button {
        position: relative;
    }

    button span{
        position: absolute;
        top: -0.9rem;
        
        background-color: var(--color-logo);
        border-radius: 50%;
        border: 0;
        border-bottom: -5rem;
    }

}

