.padding-y-base {
    padding-block: var(--padding-y-base);
}
.padding-y-lg {
    padding-block: var(--padding-y-lg);
}
.padding-y-xl {
    padding-block: var(--padding-y-xl);
}

.container {
    margin-inline: auto;
    width: min(var(--max-width), 100% - var(--padding-x-lg) * 2);
}

.flex {
    display: flex;
}

.item-center {
    align-items: center;
}

.gap-1 {
    gap: 1rem;
}

.gap-2{
    justify-content: space-around;
}

.grid {
    display: grid;
}